.header__menu {
    box-sizing: border-box;
    display: flex;
    max-width: 1340px;
    justify-content: space-between;
    align-items: center;
    margin: 92px 50px;
}

.header__links-list{ 
    display: flex;
    list-style-type: none;
}

.header__links-list-item {
    display: flex;
    list-style-type: none;
    list-style: circle;
    gap: 31px;
    align-items: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__links-list-item-underline {
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 5px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    margin-right: 143px;
}

.address {
    font-style: normal;
    max-width: 240px;
}

.address p {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
    line-height: 24.3px;
}

.address__number {
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}

.address_mail {
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}

.cover {
    height: 757px;
    display: flex;
    background-image: url(/images/cover.jpg); 
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 1440px;
    height: 757px;
    opacity: 0.6000000238418579;
    background: #000;
    z-index: 10;
}

.cover_tittle {
    display: flex;
    flex-direction: column;
    width: 1340px;
    position: absolute;
    color: white;
    text-transform: uppercase;
    line-height: 100%;
    font-size: 100px;
    z-index: 11;
    margin: 165px 50px 237px 50px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
}

.span_cover_tittle_one {
    line-height: 115%;
    letter-spacing: 30px;
}

.span_tittle_indent {
    margin-left: 30px;
}

.span_cover_tittle_two {
    line-height: 100%;
    letter-spacing: 30px;
    margin-top: 20px;
    text-align: center;
    margin-right: 30px;
}

.span_cover_tittle_tree {
    line-height: 100%;
    text-align: right;
    margin-top: 20px;
    letter-spacing: 30px;
    margin-right: -30px;
}

.span_tree_tittle_indent {
    margin-right: 30px;
}

.bet-button {
    position: absolute;
    margin: 655px 50px 50px 1132px;
    z-index: 12;
    background: transparent;
    border: 1px solid white;
    padding: 12px 32px;
    color: #FFF;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cover__description-text {
    position: absolute;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin: 668px 385px 62px 424px;
    word-spacing: 18px;
    z-index: 13;
    color: white;
}

.lots {
    box-sizing: border-box;
    padding: 188px 50px 0 50px;
}

.lots__heading {
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.lots__card-list {
    display:flex;
    list-style-type: none;
    gap: 25px;
    margin-bottom: 30px;
    
}

.card-link {
    display: flex;
    background-color: black;
    height: 450px;
    width: 430px;
    z-index: -1;
}

.card {
    height: 450px;
    width: 430px;
}

.card_type_film {
    position: absolute;
    z-index: 1;
    background-image: url(/images/card-lot-01.jpg);
    background-size: cover;
}

.overlay-card {
    position: absolute;
    width: 430px;
    height: 450px;
    opacity: 0.6000000238418579;
    background: #000;
    z-index: -1;

}

.card_type_book {
    position: absolute;
    z-index: 1;
    background-image: url(/images/card-lot-02.jpg);
    background-size: cover;
}

.card_type_picture {
    position: absolute;
    z-index: 1;
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;
}

.card__title {
    margin: 50px 40px 0px 40px;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 3px;
}

.card__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    
}

.card__text__film {
    margin: 202px 40px 50px 40px;
    z-index: 2;
}

.card__text__book {
    margin: 30px 40px 50px 40px;
}

.card__text__picture {
    margin: 84px 40px 50px 40px;
}

.lots__look-more-link {
    
    margin-top: 30px;
    margin-left: 40px;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}

.about {
    display: flex;
    width: 1340px;
    height: 487px;
    margin: 175px 50px 0 50px;
}

.about__column_left {
    width: 430px;
    height: 240px;
    margin-top: 6px;
}

.about__column_right{ 
    width: 885px;
    height: 388px;
    margin-top: 106px;
    margin-left: 24px;
}

.about__logo {
    height: 240px;
    width: 240px;
    background-color: #000;
    border-radius: 120px;
    margin: 0 auto;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: 63px 46px;
}

.about__title {
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__text_bottom {
    margin-top: 28px;
}

.footer {
    box-sizing: border-box;
    display: flex;
    max-width: 1340px;
    justify-content: space-between;
    align-items: flex-start;
    margin: 188px 50px; 
}

.footer__menu-list-item {
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 48px;
    width: 240px;
    height: 48px;
}

.footer__menu-list {
    list-style-type: none;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
}